body {
  
.card {
  width: 723px;
  height: 400px;
  background-color: $veryDarkBlue;

  @include breakpoint-down(medium){
    width: 187px;
    height: 478px;
    
  }
}
.cardComponent {
  width: 557px;
  height: 224px;
  background-color: $darkDesaturatedBlue;
  margin-top: 88px;
  position: absolute;
  margin-left: 83px;
  margin-right: 83px;
  margin-bottom: 88px;

  @include breakpoint-down(medium){
    width: 164px;
    height: 391px;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 44px;
    align-items: center;
    //padding-left: 12px;
    //padding-right: 12px;
    background-color: $darkDesaturatedBlue;
    
    
    
  }

}
  
  @include breakpoint-down(medium){
    width:163px;
    height: 123px;
    
    position: absolute;
  }

  img {
  margin-left: 284px;
  width: 271px;
  height: 224px;
  position: relative;
  top: 0;

  @include breakpoint-down(medium){
    width:163px;
    height: 123px;
    margin: 0;
  }

}
 .layer {
  margin-left: 284px;
  width: 271px;
  height: 224px;
  position: absolute;
  top: 0;
  background-color:hsla(277, 64%, 61%,0.7);

  @include breakpoint-down(medium){
    width:163px;
    height: 123px;
    margin: 0;
  }
 }
 
  
.leftCardComponent {
  display: flex;
  position: absolute;
  font-size: 9px;
  
  overflow: hidden;
  width: 284px;
  height: 224px;
  
  @include breakpoint-down(medium){
    width: 164px;
    height: 270px;
    position: absolute;
  }
}
h1{
     display: block;
  margin-left: 35px;
  margin-right: 61px;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 42px;
  color: $white;
  //background-color: red;
  font-size: 15px;
  font-family: 'Inter', sans-serif;


  @include breakpoint-down(medium){
    position: relative;
    z-index: 1;
    margin: 0;
    margin-top: 145px;
    font-size: 17px;
    //align-items: center;
    text-align:center;
  }

}

  p#description {
    font-family: 'Inter', sans-serif;
    margin-left: 35px;
    margin-right: 76px;
    margin-top: 20px;
    font-size: 7px;
    line-height: 161.8%;
    //background-color: rosybrown;
    color: $transparentWhite;

    @include breakpoint-down(medium){
     z-index: 1;
     position: relative;
     text-align: center;
     margin: 0;
     font-size: 7px;
     margin-left: 17px ;
     margin-right: 17px;
     margin-top: 16px;

    }
    
  }

  .grid-container {
    
    position: absolute;
    display: flex;
    flex-direction: row;  
    bottom: 0;



    @include breakpoint-down(medium){
      display: none;
      z-index: -1;
     
      
      
    }
  }

  .grid-left {
    width: 92px;
    height: 55px;
    flex: 1;

    @include breakpoint-down(medium){
     display: none;
    }
    
    }

    .grid-mix {
      width: 38px;
      height: 47px;
      background-color: blue;
      margin-left: 35px;
      position: absolute;

      @include breakpoint-down(medium){
        display: none;
       }
     
    }
    .grid-mix-center {
      width: 40px;
      height: 22px;
      background-color: blue;
      margin-left: 16px;

      @include breakpoint-down(medium){
        display: none;
       }
    }
    .grid-center {
      width: 40px;
      height: 22px;
      background-color: blue;
      margin-left: 10px;

      @include breakpoint-down(medium){
        display: none;
       }
    }
    
    p#font1 {
      color: $white;
      padding: 0;
      margin: 0;
      font-size: 12px;
      font-family: 'Inter', sans-serif;
    }
    
    p#font2 {
      color: $transparentWhite;
      padding: 0;
      margin: 0;
      font-size: 5px;
      font-family: 'Inter', sans-serif;
    }
    

  .grid-center {
    width: 79px;
    height: 55px;
    flex: 1;

    @include breakpoint-down(medium){
        display: none;
     }
    
    }

  .grid-right {
    width: 114px;
    height: 55px;
    flex: 1;
    margin-right: 75px;

    @include breakpoint-down(medium){
      display: none;
     }
   
    
  }
  .grid-container div {
    background-color: $darkDesaturatedBlue;
    
  }

  .flex-mobile {
    display: none;
    @include breakpoint-down(medium){
      
      display:flex !important;
      width: 100%;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
      margin-top: 20%;
      
      
     }

  }
  .flex-left {
    display: none;
    @include breakpoint-down(medium){
    display: block;
      
  }
.flex-center {
    display: none;
    @include breakpoint-down(medium){
    display: block;  
  }
}
  .flex-right {
    display: none;
    @include breakpoint-down(medium){
    display: block;
    }
  }

#page-wrap{
  width: 700px;
  margin: 0 auto;
}
@include breakpoint-down(medium){
  background-color: red;
}
}



}
