body {
  
.card {
  width: 723px;
  height: 400px;
  background-color: $veryDarkBlue;

}
.cardComponent {
  width: 557px;
  height: 224px;
  background-color: $darkDesaturatedBlue;
  margin-top: 88px;
  position: absolute;
  margin-left: 83px;
  margin-right: 83px;
  margin-bottom: 88px;


  img {
  margin-left: 284px;
  width: 271px;
  height: 224px;
  position: relative;
  top: 0;
}
 .layer {
  margin-left: 284px;
  width: 271px;
  height: 224px;
  position: absolute;
  top: 0;
  background-color:hsla(277, 64%, 61%,0.7);
 }
 
  
.leftCardComponent {
  display: flex;
  position: absolute;
  font-size: 9px;
  
  overflow: hidden;
  width: 284px;
  height: 224px;
  
}
h1{
     display: block;
  margin-left: 35px;
  margin-right: 61px;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 42px;
  color: $white;
  //background-color: red;
  font-size: 15px;
  font-family: 'Inter', sans-serif;

}

  p#description {
    font-family: 'Inter', sans-serif;
    margin-left: 35px;
    margin-right: 76px;
    margin-top: 20px;
    font-size: 7px;
    line-height: 161.8%;
    //background-color: rosybrown;
    color: $transparentWhite;
  }

  .grid-container {
    
    position: absolute;
    display: flex;
    flex-direction: row;  
    bottom: 0;
  }

  .grid-left {
    width: 92px;
    height: 55px;
    flex: 1;
    
    }

    .grid-mix {
      width: 40px;
      height: 22px;
      background-color: blue;
      margin-left: 35px;
    }
    .grid-mix-center {
      width: 40px;
      height: 22px;
      background-color: blue;
      margin-left: 16px;
    }
    .grid-center {
      width: 40px;
      height: 22px;
      background-color: blue;
      margin-left: 10px;
    }
    
    p#font1 {
      color: $white;
      padding: 0;
      margin: 0;
      font-size: 12px;
      font-family: 'Inter', sans-serif;
    }
    
    p#font2 {
      color: $transparentWhite;
      padding: 0;
      margin: 0;
      font-size: 5px;
      font-family: 'Inter', sans-serif;
    }
    

  .grid-center {
    width: 79px;
    height: 55px;
    flex: 1;
    
    }

  .grid-right {
    width: 114px;
    height: 55px;
    flex: 1;
    margin-right: 75px;
   
    
  }
  .grid-container div {
    background-color: $darkDesaturatedBlue;
    
  }
}
#page-wrap{
  width: 700px;
  margin: 0 auto;
}

}
