body {
  margin: 0px;
  width: 1440px;
  height: 100%;
  background-color: #090b1a;
}

@media (max-width: 375px) {
  .card {
    width: 187px;
    height: 478px;
  }
}

.card .cardComponent {
  width: 557px;
  height: 224px;
  background-color: #1b1938;
  margin-top: 88px;
  position: absolute;
  margin-left: 83px;
  margin-right: 83px;
  margin-bottom: 88px;
}

@media (max-width: 375px) {
  .card .cardComponent {
    width: 164px;
    height: 391px;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 44px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1b1938;
  }
}

@media (max-width: 375px) {
  .card {
    width: 163px;
    height: 123px;
    position: absolute;
  }
}

.card img {
  margin-left: 284px;
  width: 271px;
  height: 224px;
  position: relative;
  top: 0;
}

@media (max-width: 375px) {
  .card img {
    width: 163px;
    height: 123px;
    margin: 0;
  }
}

.card .layer {
  margin-left: 284px;
  width: 271px;
  height: 224px;
  position: absolute;
  top: 0;
  background-color: rgba(170, 92, 219, 0.7);
}

@media (max-width: 375px) {
  .card .layer {
    width: 163px;
    height: 123px;
    margin: 0;
  }
}

.card .leftCardComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-size: 9px;
  overflow: hidden;
  width: 284px;
  height: 224px;
}

@media (max-width: 375px) {
  .card .leftCardComponent {
    width: 164px;
    height: 270px;
    position: absolute;
  }
}

.card h1 {
  display: block;
  margin-left: 35px;
  margin-right: 61px;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 42px;
  color: white;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 375px) {
  .card h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    margin-top: 145px;
    font-size: 17px;
    text-align: center;
  }
}

.card p#description {
  font-family: 'Inter', sans-serif;
  margin-left: 35px;
  margin-right: 76px;
  margin-top: 20px;
  font-size: 7px;
  line-height: 161.8%;
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 375px) {
  .card p#description {
    z-index: 1;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 7px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 16px;
  }
}

.card .grid-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
}

@media (max-width: 375px) {
  .card .grid-container {
    display: none;
    z-index: -1;
  }
}

.card .grid-left {
  width: 92px;
  height: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 375px) {
  .card .grid-left {
    display: none;
  }
}

.card .grid-mix {
  width: 38px;
  height: 47px;
  background-color: blue;
  margin-left: 35px;
  position: absolute;
}

@media (max-width: 375px) {
  .card .grid-mix {
    display: none;
  }
}

.card .grid-mix-center {
  width: 40px;
  height: 22px;
  background-color: blue;
  margin-left: 16px;
}

@media (max-width: 375px) {
  .card .grid-mix-center {
    display: none;
  }
}

.card .grid-center {
  width: 40px;
  height: 22px;
  background-color: blue;
  margin-left: 10px;
}

@media (max-width: 375px) {
  .card .grid-center {
    display: none;
  }
}

.card p#font1 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.card p#font2 {
  color: rgba(255, 255, 255, 0.75);
  padding: 0;
  margin: 0;
  font-size: 5px;
  font-family: 'Inter', sans-serif;
}

.card .grid-center {
  width: 79px;
  height: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 375px) {
  .card .grid-center {
    display: none;
  }
}

.card .grid-right {
  width: 114px;
  height: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 75px;
}

@media (max-width: 375px) {
  .card .grid-right {
    display: none;
  }
}

.card .grid-container div {
  background-color: #1b1938;
}

.card .flex-mobile {
  display: none;
}

@media (max-width: 375px) {
  .card .flex-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    margin-top: 20%;
  }
}

.card .flex-left {
  display: none;
}

@media (max-width: 375px) {
  .card .flex-left {
    display: block;
  }
}

.card .flex-left .flex-center {
  display: none;
}

@media (max-width: 375px) {
  .card .flex-left .flex-center {
    display: block;
  }
}

.card .flex-left .flex-right {
  display: none;
}

@media (max-width: 375px) {
  .card .flex-left .flex-right {
    display: block;
  }
}

.card div#page-wrap {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .card div#page-wrap {
    width: 187px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */